#ga_id= blog.ga_id
script.
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', document.getElementById('ga_id').innerText, 'auto');
    ga('send', 'pageview');
script(src='https://www.google-analytics.com/analytics.js' async)