doctype html

html(lang='zh')
    head
        meta(content='text/html')
        meta(charset='utf-8')
        block siteinfo
        block style
        include ga
    body
        block header
        #main
            block main
            block footer
        block script