script(type='text/javascript' src='https://g.alicdn.com/atastatic/s/MathJax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
script.
    MathJax.Hub.Config({
        jax: ["input/TeX","output/HTML-CSS"],
        displayIndent: "2em",
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
        },
        "HTML-CSS": {
            linebreaks: {
                automatic: true
            },
            scale: 100
        },
        SVG: {
            linebreaks: {
                automatic: true
            }
        },
        displayAlign: "left"
    });